<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="conectar" connectionString="Server=DESKTOP-Q81MT00;Integrated Security=yes; Database = visitas" />
    <add name="PRESENTACION.Properties.Settings.visitasConnectionString"
      connectionString="Data Source=DESKTOP-Q81MT00;Initial Catalog=visitas;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>